<!DOCTYPE html>
{% load static %}
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>RESTAURENT FOODS & DRINKS</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'assets/images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="custom-select-box">
                        <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
							<option>¥ JPY</option>
							<option>$ USD</option>
							<option>€ EUR</option>
						</select>
                    </div>
                    <div class="right-phone-box">
                        <p> <li><a href="#" class="fab fa-whatsapp" aria-hidden="true" style="color:white;">Whatsapp:7890567834</a></p>
                    </div>
                    <div class="our-link">
                        <ul>


                            <li><a href="#"><i class="fas fa-location-arrow"></i> Our location</a></li>

                        </ul>
                    </div>
                </div>

                 <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="login-box">

                          <li class="dropdown">
                            <a href="#" class="fa fa-user s_color"  data-toggle="dropdown" style="color:white;">Account</b></a>
                            <ul class="dropdown-menu">
                                {% if request.session.uname %}
								<li><a href="{% url 'signpage' %}"><b>Login/Register</b></a></li>
								<li><a href="{% url 'customerlogout' %}"><b>Logout</b></a></li>

                                {% endif %}
                            </ul>
                        </li>
                    </div>
                   <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                    {% if request.session.uname %}
                                <span class="text" style="color:white"><b>WELCOME {{request.session.uname}} </b></span>
                                {% endif %}
                   </div></div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="index.html"><img src="{% static 'assets/images/360_F_275700347_09reCCwb7JBxTKiYQXsyri4riMKaHbj8-removebg-preview.png' %}" class="logo" style="width:200px;height:90px;" alt=""></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item active"><a class="nav-link" href="{% url 'webpage' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'aboutpage' %}">About</a></li>
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown" data-toggle="dropdown">Menu</a>
                            <ul class="dropdown-menu">
                                {% for d in data %}
								<li><a href="{% url 'discategory' itemcatg=d.Category_Name %}">{{d.Category_Name}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'bookpage' %}">Book a Table</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'contactpage' %}">Contact</a></li>
<!--                        <li class="nav-item"><a class="nav-link" href="{% url 'signpage' %}">SignIn</a></li>-->

                    </ul>
                </div>
                <!-- /.navbar-collapse -->

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                        <li class="side-menu">
							<a href="#">
								<i class="fa fa-shopping-bag"></i>
								<span class="badge">3</span>
								<p>My Cart</p>
							</a>
						</li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>
            <!-- Start Side Menu -->
            <div class="side">
                <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                <li class="cart-box">
                    <ul class="cart-list">
                        <li>
                            <a href="#" class="photo"><img src="{% static 'assets/images/img-pro-01.jpg' %}" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Delica omtantur </a></h6>
                            <p>1x - <span class="price">$80.00</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="{% static 'assets/images/img-pro-02.jpg' %}" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Omnes ocurreret</a></h6>
                            <p>1x - <span class="price">$60.00</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="{% static 'assets/images/img-pro-03.jpg' %}" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Agam facilisis</a></h6>
                            <p>1x - <span class="price">$40.00</span></p>
                        </li>
                        <li class="total">
                            <a href="#" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                            <span class="float-right"><strong>Total</strong>: $180.00</span>
                        </li>
                    </ul>
                </li>
            </div>
            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-center">
                <img src="{% static 'assets/images/l-intro-1670029550.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>RESTAURENT <br> </strong>FOODS & DRINKS</h1><br>
                            <p class="m-b-40"><b>The Restaurent was born out of love and respect for these humble deli creations<br> Met with a desire to bring quality ingredients to the table.<br> Simply put, we’re here to bring you a sandwich experience you can feel good about
                            </b><br>
                            </p>
<!--                            <p><a class="btn hvr-hover" href="#">Order Now</a></p>-->
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'assets/images/499725.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>RESTAURENT <br> </strong>FOODS & DRINKS</h1><br>
                            <p class="m-b-40"><b>Made with Love <br> Home Devlivery are available</b></p>
<!--                            <p><a class="btn hvr-hover" href="#">Order Now</a></p>-->
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'assets/images/bn.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>RESTAURENT <br> </strong>FOODS & DRINKS</h1><br>
                            <p class="m-b-40"><b>Restaurent promises quality foods at Competitive prices</b></p>
<!--                            <p><a class="btn hvr-hover" href="#">Order Now</a></p>-->
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>

    <!-- End Slider -->

    <!-- Start Categories  -->
    <div class="categories-shop">

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'assets/images/b.jpg' %}" alt="" />
<!--                        <a class="btn hvr-hover" href="#">Farm Fresh Veggies</a>-->
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'assets/images/n.jpg' %}" style="height:356px" alt="" />
<!--                        <a class="btn hvr-hover" href="#">Farm Fresh Fruits</a>-->
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'assets/images/p.jpg' %}" style="height:356px" alt="" />
<!--                        <a class="btn hvr-hover" href="#" >Fresh Organic Oils</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Categories -->


    <!-- End Products  -->

    <!-- Start Blog  -->
    <div class="latest-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Our Food Category</h1>
<!--                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>-->
                    </div>
                </div>
            </div>
            <div class="row">
                {% for d in data %}
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="{{d.Image.url}}"style="width:350px;height:260px" alt="" />
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3><b>{{d.Category_Name}}</b></h3>
                                <p><b>{{d.Description}}</b></p><br>


                              </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- End Blog  -->
    <div class="latest-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Latest Blog</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="{% static 'assets/images/ll.jpg' %}" style="width:350px;height:260px"alt="" />
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>Creamy Cheesy Pizzas</h3>
                                <p>It is very important to include some seasonal fruits in your diet to protect yourself from cold and cough in winter. Detailed information about some of these winter fruits is given below. We are all aware of the health benefits of fruits that help maintain our immune system and prevent infections.  </p>
                            </div>
                            <ul class="option-blog">
                                <li><a href="#"><i class="far fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#"><i class="far fa-comments"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="{% static 'assets/images/restaurant.jpg' %}" style="width:350px;height:260px"alt="" />
                        </div>
                        <div class="blog-content">
                            <div class="title-blog" >
                                <h3>Delivering with Love</h3>
                                <p>Spinach is a super veggie that loaded with nutrients in a low-calorie package. The vegetables belong to the family of Amaranthaceae. Dark, leafy green spinach are essential for hair, skin and bones health. It improves blood, controls diabetes, lowers the risk of cancer, improves bone health, and supplies minerals and vitamins.</p>
                            </div>
                            <ul class="option-blog">
                                <li><a href="#"><i class="far fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#"><i class="far fa-comments"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="{% static 'assets/images/oo.jpg' %}"style="width:350px;height:260px" alt="" />
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>Take snaps and share with instagram</h3>
                                <p>Avocados are a symbol of nature’s abundance and balance. They have a creamy, rich texture and a nutritional profile to match. Avocados are a nutrient-dense food that includes approximately 20 vitamins and minerals in their natural state.Avocados are high in fiber, healthy fats among other nutrients. </p>
                            </div>
                            <ul class="option-blog">
                                <li><a href="#"><i class="far fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#"><i class="far fa-comments"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog  -->


    <!-- Start Instagram Feed  -->
    <div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'assets/images/in.jpg' %}" style="width:300px;height:300px;" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'assets/images/xc.jpg' %}" style="width:300px;height:300px;"  alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'assets/images/baked-sweet-potato-fries-12.jpg' %}"  style="width:290px;height:300px;"  alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{% static 'assets/images/coca-coke-cola-cubes-wallpaper-preview.jpg' %}" style="width:290px;height:300px;"alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
<!--            <div class="item">-->
<!--                <div class="ins-inner-box">-->
<!--                    <img src="{% static 'assets/images/instagram-img-05.jpg' %}" alt="" />-->
<!--                    <div class="hov-in">-->
<!--                        <a href="#"><i class="fab fa-instagram"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="item">-->
<!--                <div class="ins-inner-box">-->
<!--                    <img src="{% static 'assets/images/instagram-img-06.jpg' %}" alt="" />-->
<!--                    <div class="hov-in">-->
<!--                        <a href="#"><i class="fab fa-instagram"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="item">-->
<!--                <div class="ins-inner-box">-->
<!--                    <img src="{% static 'assets/images/instagram-img-07.jpg' %}" alt="" />-->
<!--                    <div class="hov-in">-->
<!--                        <a href="#"><i class="fab fa-instagram"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="item">-->
<!--                <div class="ins-inner-box">-->
<!--                    <img src="{% static 'assets/images/instagram-img-08.jpg' %}" alt="" />-->
<!--                    <div class="hov-in">-->
<!--                        <a href="#"><i class="fab fa-instagram"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="item">-->
<!--                <div class="ins-inner-box">-->
<!--                    <img src="{% static 'assets/images/instagram-img-09.jpg' %}" alt="" />-->
<!--                    <div class="hov-in">-->
<!--                        <a href="#"><i class="fab fa-instagram"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="item">-->
<!--                <div class="ins-inner-box">-->
<!--                    <img src="{% static 'assets/images/instagram-img-05.jpg' %}" alt="" />-->
<!--                    <div class="hov-in">-->
<!--                        <a href="#"><i class="fab fa-instagram"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
    <!-- End Instagram Feed  -->


    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="footer-top-box">
							<h3>Business Time</h3>
							<ul class="list-time">
								<li>Monday - Friday: 08.00am to 05.00pm</li> <li>Saturday: 10.00am to 08.00pm</li> <li>Sunday: <span>Closed</span></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="footer-top-box">
							<h3>Newsletter</h3>
							<form class="newsletter-box">
								<div class="form-group">
									<input class="" type="email" name="Email" placeholder="Email Address*" />
									<i class="fa fa-envelope"></i>
								</div>
								<button class="btn hvr-hover" type="submit">Submit</button>
							</form>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="footer-top-box">
							<h3>Social Media</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<ul>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                            </ul>
						</div>
					</div>
				</div>
				<hr>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>About </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Information</h4>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Customer Service</a></li>
                                <li><a href="#">Our Sitemap</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Delivery Information</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contact Us</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Address: Michael I. Days 3756 <br>Preston Street Wichita,<br> KS 67213 </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+1-888705770">+1-888 705 770</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="mailto:contactinfo@gmail.com">contactinfo@gmail.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">All Rights Reserved. &copy; 2018 <a href="#">ThewayShop</a> Design By :
            <a href="https://html.design/">html design</a></p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'assets/js/jquery.superslides.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-select.js' %}"></script>
    <script src="{% static 'assets/js/inewsticker.js' %}"></script>
    <script src="{% static 'assets/js/bootsnav.js.' %}"></script>
    <script src="{% static 'assets/js/images-loded.min.js' %}"></script>
    <script src="{% static 'assets/js/isotope.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/baguetteBox.min.js' %}"></script>
    <script src="{% static 'assets/js/form-validator.min.js' %}"></script>
    <script src="{% static 'assets/js/contact-form-script.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
</body>

</html>